@import "../../colors.css";

.border-container {
    border: solid 1px lightgray;
    text-align: center;
    background: var(--lightGrayColor);
}

.list-cell {
    background: white;
    border-radius: 15px;
}

.dropzone-container {
    transition: border-color 0.3s ease;
    margin: 20px;
    padding: 20px;
}