:root {
    --primaryColor: #363062;
    --secondaryColor: #4D4C7D;
    --hoverColor: #F5F5F5;
    --orange: #F99417;
    --textColor: #4D4C7D;
    --selectedColor: #F99417;
    --lightGrayColor: #D9D9D9;
  }